---
layout: base.njk
---
<section class="bg-primary">
<div class="px-8 2xl:max-w-7xl mx-auto py-6">
<div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-3 text-lg">
<h1><a href="{{page.url}}">{{title or metadata.title}}</a></h1>
<h2>{{description or metadata.description}}</h2>
{{ content | safe }}
</div>
</section>
