---
layout: base.njk
---
    <section class="bg-primary">
      <div class="px-8 2xl:max-w-7xl mx-auto py-6">
        <div class="mt-6 space-y-2">
          <div class="h-0.5 bg-secondary"></div>
        </div>
        <div class="flex flex-col text-secondary pt-2 mt-2 gap-12 lg:gap-32">
          <div data-aos="fade-up" data-aos-duration="1500" class="grid grid-cols-1 lg:items-end lg:grid-cols-4 py-4 gap-4">
            <h2 class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"> 
                <a href="{{page.url}}">{{title}}</a></h2>
                <p>{{content|toc|safe}}</p>
            <p class="italic text-xs block "> {{description}} </p>
            <p>{{content|safe}}</p>
          </div>
        </div>
      </div>
    </section>